.button__primary {
    background-color: var(--color__primary);
    color: #fff;
}

.button__secondary {
    background-color: var(--color__secondary);
    color: #fff;
}

.button__tertiary {
    background-color: var(--color__tertiary);
    color: #fff;
}

.button__shadow {
    box-shadow: 0px 10px 50px 5px rgba(135, 135, 135, 0.3);
}

.button__radius {
    border-radius: 20px;
}